.preview {
    border-radius: 70%;
    display: block;
    margin: 0px auto;
}

.filebox label {
    padding: 5px 15px;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #5FCB71;
    cursor: pointer;
    height: 40px;
    margin: 0rem 43%;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}